@charset "utf-8";

body {
    font-size: 20px;
    background-color: black;
    color: white;
}

h1 {
    font-size: 80px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

a {
    color: white;
}

#scene_1, #scene_2 {
    background: url(jungle.jfif) no-repeat;
    background-size: 1024px, 1024px;
    height: 1024px;
    width: 1024px;
    position: absolute;
    left: 400px;
}

#scene_3, #scene_4 {
    background: url(path.jfif) no-repeat;
    background-size: 1024px, 1024px;
    height: 1024px;
    width: 1024px;
    position: absolute;
    left: 400px;
}

#scene_4 {
    background: url(chest.jfif) no-repeat;
    background-size: 1024px, 1024px;
    height: 1024px;
    width: 1024px;
    position: absolute;
    left: 400px;
}

#victory {
    background: url(victory.jfif) no-repeat;
    background-size: 1024px, 1024px;
    height: 1024px;
    width: 1024px;
    position: absolute;
    left: 400px;
}

h1,p {
    text-align: center
}

body#death {
    background-color: black;
}
div#died {
    background-size: 1024px, 1024px;
    height: 1024px;
    width: 1024px;
    position: absolute;
    left: 20%;
}

body#death p {
    font-size: 80px;
    color: rgb(110, 2, 2);
}
    body#death p a {
        font-size: 80px;
        color: rgb(110, 2, 2);
    }

